{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#tag}}
            <section class="tag">
                <div class="container medium">
                    <h1 class="tag-name">{{name}}</h1>
                    {{#if description}}
                        <div class="tag-description">{{description}}</div>
                    {{/if}}
                    {{#get "tags" limit="all" filter="id:-{{id}}+visibility:public" as |tags|}}
                        {{#if tags}}
                            <div class="tag-list">
                                <span class="tag-list-label">More:</span>
                                {{#foreach tags}}
                                    <a class="tag-list-item" href="{{url}}">{{name}}</a>
                                {{/foreach}}
                            </div>
                        {{/if}}
                    {{/get}}
                </div>
                {{#if feature_image}}
                    <div class="container">
                        <div class="tag-media u-placeholder horizontal">
                            <img class="u-object-fit" srcset="{{> srcset}}" src="{{img_url feature_image size="l"}}" alt="{{name}}">
                        </div>
                    </div>
                {{/if}}
            </section>
        {{/tag}}

        
        <div class="post-feed container medium">
            {{#foreach posts visibility="all"}}
                {{> "loop"}}
            {{/foreach}}
        





            
        </div>

       
        {{pagination}}


        <div class="container medium">


            {{!!-- check if tag is 'stories'}}
            {{#tag}}
            {{#match name "=" "stories"  }}
            
                    <br>
                    <hr>
                    <h1 class="tag-name">Mastodon Toots </h1>
                    <h3><a href="https://sigmoid.social/@ramith">@ramith@sigmoid.social</a></h3>

                    <div id="mt-timeline" class="mt-timeline">
                        <div id="mt-body" class="mt-body">
                        <div class="loading-spinner"></div>
                        </div>
                    </div>

                    <br>
            {{/match}}
             {{/tag}}




            
        </div>

        
    </main>
</div>